# Redirigir todo el tráfico al directorio /public
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirección de biografías
RewriteRule ^biografias-de-artistas-folkloricos/(.*)$ /$1/biografia [R=301,L]

# Redirección de discografías
RewriteRule ^discografias-del-folklore-argentino/(.*)$ /$1/discografia [R=301,L]

# Redirección de listado de letras
RewriteRule ^letras-de-canciones-folkloricas/interprete-(.*)$ /$1/letras [R=301,L]

# Redirección de letra específica
RewriteRule ^letras-de-canciones-folkloricas/([^/]+)/([^/]+)$ /$1/letras/$2 [R=301,L]

# Redirección antigua: /biografia-de-lucio-rojas → /lucio-rojas/biografia
RewriteRule ^biografia-de-(.*)$ /$1/biografia [R=301,L]

# Redirección de noticias específicas del artista
RewriteRule ^noticias-de-([^/]+)/([^/]+)$ /$1/noticias/$2 [R=301,L]

# Redirección de listado de noticias del artista
RewriteRule ^noticias-de-(.*)$ /$1/noticias [R=301,L]

# Redirección de disco específico del artista
RewriteRule ^discografia-de-([^/]+)/([^/]+)$ /$1/discografia/$2 [R=301,L]

# Redirección de listado de discografías del artista
RewriteRule ^discografia-de-(.*)$ /$1/discografia [R=301,L]

# Redirección de canción específica
RewriteRule ^letras-de-canciones-de-([^/]+)/([^/]+)$ /$1/letras/$2 [R=301,L]

# Redirección de listado de letras del artista
RewriteRule ^letras-de-canciones-de-(.*)$ /$1/letras [R=301,L]



    # Redirigir todo el tráfico al directorio /public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1 [L,NC]
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType text/x-javascript "access plus 1 month"
    ExpiresByType application/x-shockwave-flash "access plus 1 month"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresDefault "access plus 2 days"
</IfModule>

# Deshabilitar la listade directorios
Options -Indexes
